<h1>Listing grounds</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Sport</th>
    <th>Access</th>
    <th>Description</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @grounds.each do |ground| %>
  <tr>
    <td><%= ground.name %></td>
    <td><%= ground.sport %></td>
    <td><%= ground.access %></td>
    <td><%= ground.description %></td>
    <td><%= ground.address %></td>
    <td><%= ground.city %></td>
    <td><%= ground.state %></td>
    <td><%= ground.zip_code %></td>
    <td><%= link_to 'Show', ground %></td>
    <td><%= link_to 'Edit', edit_ground_path(ground) %></td>
    <td><%= link_to 'Destroy', ground, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ground', new_ground_path %>
