<div class="container">
<br/>
<div id="venueName" class="row">
  <div class="span10">
    <h2><%= @venue.name %> &nbsp &nbsp &nbsp </h2>
  </div>
  <div class="span6"><p>&nbsp</p></div>
</div>    

<div id="venueDetails" class="row">
  <div class="span11">
    <div class="row">
      <div class="span10">
          <div class="row">
            <div class="span10">
              <% @venue.categories.order(:name).each do |category| %> 
                <%= link_to(category.name, root_path) %> &nbsp &nbsp &nbsp
              <% end %>
            </div>
          </div>
          <div class="row"><div class="span10"><p><%= @venue.address_line_1 %>, <%= @venue.address_line_2 %>, <%= @venue.city %>, <%= @venue.state %></p></div></div>
          <div class="row"><div class="span10"><p><%= link_to_unless(@venue.nil?, "http://google.com") %></p></div></div>
      </div>
      <div class="span1"><p>&nbsp</p></div>
    </div>
    <div class="row"><div class="span9"><p><%= @venue.description %></p></div></div>
    <div class="row"><div class="span9">&nbsp</div></div>
  </div>
  <div id="venueMap" class="span5">
    <% if @venue.address_line_1 then %>
      <%= gmaps("markers" => {"data" => @json}, "map_options" => {"auto_zoom" => false, "zoom" => 11} ) %>
    <% end %>
  </div>
</div>

<hr/>

<div id="venueLinks" class="row">
  <div class="span16">
<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
  </div>
</div>
</div>