<h1>Listing activities</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Starts at</th>
    <th>Ends at</th>
    <th>Venue</th>
    <th>Category</th>
    <th>Organizer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @activities.each do |activity| %>
  <tr>
    <td><%= activity.name %></td>
    <td><%= activity.description %></td>
    <td><%= activity.starts_at %></td>
    <td><%= activity.ends_at %></td>
    <td><%= activity.venue_id %></td>
    <td><%= activity.category_id %></td>
    <td><%= activity.organizer_id %></td>
    <td><%= link_to 'Show', activity %></td>
    <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
    <td><%= link_to 'Destroy', activity, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Activity', new_activity_path %>
